[submodule "themes/timer-hugo"]
	path = themes/timer-hugo
	url = git@github.com:themefisher/timer-hugo.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:theNewDynamic/gohugo-theme-ananke.git
